@import "./reset.scss";
body {
  background-color: #dce6d1;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.phone {
  background-color: black;
  border-radius: 50px;
  height: 95%;
  width: 420px;
  padding: 50px 10px;
  box-sizing: border-box;
}

.header {
  overflow-x: scroll;
  .header__list {
    display: flex;
    gap: 10px;
    color: white;
    width: max-content;
    .header__list-item {
      border: 1px solid rgba(255, 255, 255, 0.596);
      padding: 10px;
      border-radius: 20px;
    }
    .header__list-item--inverted {
      background-color: white;
      color: black;
    }
  }
}

.cards {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  .cards__card {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card__title {
      font-size: 28px;
    }
    .card__footer {
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      span {
        padding: 5px 10px;
        border-radius: 20px;
        border: 1px solid black;
      }
      .price {
        background-color: #ffdd2c;
      }
      .length {
        background-color: white;
      }
    }

    &:first-child {
      background-color: #292d33;
      border: 1px solid white;
      .card__title {
        color: white;
      }
    }
    &:nth-child(2) {
      background-color: #fcfbfa;
    }
    &:nth-child(3) {
      background-color: #f7fcaf;
    }
    &:nth-child(4) {
      background-color: #ae9bf5;
    }
    &:nth-child(5) {
      background-color: #ffd0d0;
    }
    &:nth-child(6) {
      background-color: #cffedd;
    }
    &:nth-child(3n) {
      grid-column: span 2;
    }
  }
}
